html {background:#F4F4F4 url('/imgs/bg.png') repeat left top; font-size:15px; color:#333; font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;}
body {}
a {text-decoration:none;}
#branding {overflow:hidden; background:rgba(255,255,255,.3);}
#branding #logo {float:right;}
#branding nav {margin:60px 0 0; padding:0 20px; float:left;}
nav li {display:inline; padding:0 8px 0 0;}
nav a {color:#555;}
#content {width:60%; padding:0 20px; line-height:170%;}
#content article {position:relative; padding:15px 0 15px 50px; border:solid #fff; border-bottom-color:#999; border-width:1px 0;}
#content article:first-child {border-top-width:0px;}
#content article:last-child {border-bottom-width:0px;}
article h1 {font-size:25px; font-weight:200; font-family:"Helvetica Neue", Helvetica, Arial, "MS Trebuchet", sans-serif; letter-spacing:1px;}
article time {position:absolute; left:0; top:5px; display:block; width:20px; line-height:100%; text-align:right; color:#333;}


/* footer */
footer {height:30px; margin:20px 0 0; padding:20px; background:rgba(0,0,0,.2) url('/imgs/nodejs.png') no-repeat -10px 125%;}
footer p {float:left;}
footer .nodeSmall {display:inline-block; width:115px; height:40px; margin-top:-5px; background:#333 url('/imgs/node-small.png') no-repeat center center; text-indent:-9999px; vertical-align:middle; border-radius:5px; border:solid #666; border-width:1px 1px 0; -webkit-box-shadow: 0px -1px 1px #333;} 
#onlinePresence {margin:20px 0 0; float:right;}
#onlinePresence li {display:inline; padding:0 0 0 8px;}
#onlinePresence a {color:#555;}


