<!doctype html>
<html lang="en">
<head>
	<title>weblog</title>
  <link rel="stylesheet" type="text/css" href="/styles.css" />
</head>
<body>
  <section id="content">
    <header>
      <div class="frame">
        <a href="">Dylan Bathurst</a>
      </div>
    </header>

    <section id="meta">
      <div class="frame">
        <div id="photo">
        </div>

        <div id="info">
          <ul>
            <li>I write code at <a href="http://www.zappos.com">Zappos.com</a></li>
            <li>I keep my personal code on <a href="http://www.github.com/dylanbathurst">Github</a></li>
            <li>I help Organize <a href="http://lasvegas.startupweekend.org">Vegas Startup Weekend</a></li>
            <li>I started <a href="http://twitter.com/vegasjelly">VegasJelly</a></li>
          </ul>
        </div>
      </div>
    </section>

    <article>
      <div class="frame">
        <h1>{{title}}</h1>
        <section>
          {{{post}}}
        </section>
      </div>
    </article>

    <footer class="frame">
      <ul>
        <li><a href="http://twitter.com/#!/dylanbathurst">Twitter</a></li>
        <li><a href="http://www.linkedin.com/in/dylanbathurst">LinkedIn</a></li>
        <li><a href="http://www.linkedin.com/in/dylanbathurst">Flickr</a></li>
      </ul>
    </footer>
  </section>

<script>
window.onload = function() {
  
};

function nextPanel () {
  
}
</script>
</body>
</html>
