<!doctype html>
<html lang="en">
<head>
	<title>Dylan Bathurst | Personal Site</title>
  <link href="http://fonts.googleapis.com/css?family=Shanti:regular" rel="stylesheet" type="text/css" >
  <link rel="stylesheet" type="text/css" href="/styles.css" />
</head>
<body>
  <section id="content">
    <header>
      <div class="frame">
        <a href="/">Dylan Bathurst</a>
      </div>
    </header>

    <section id="meta">
      <div class="frame">
        <div id="photo">
        </div>

        <div id="info">
          <ul>
            <li>I write code at <a title="Zappos.com" href="http://www.zappos.com">Zappos.com</a></li>
            <li>My personal code is on <a title="Dylan Bathurst's Github Profile" href="http://www.github.com/dylanbathurst">Github</a></li>
            <li>Organizer of <a title="Las Vegas Startup Weekend" href="http://lasvegas.startupweekend.org">Vegas Startup Weekend</a></li>
            <li><a title="VegasJelly - Casual Coworking" href="http://twitter.com/vegasjelly">Tech Community</a> Lover</li>
          </ul>
        </div>
      </div>
    </section>

    {{#posts}}
      <article>
        <div class="frame">
          <h1>{{title}}</h1>
          <section class="postBody">
            {{{post}}}
          </section>
        </div>
      </article>
    {{/posts}}

    <footer class="frame">
      <ul>
        <li><a title="Dylan Bathurst's Twitter Profile" href="http://twitter.com/#!/dylanbathurst">Twitter</a></li>
        <li><a title="Dylan Bathurst's LinkedIn Profile" href="http://www.linkedin.com/in/dylanbathurst">LinkedIn</a></li>
        <li><a title="Dylan Bathurst's Flickr Profile" href="http://www.flickr.com/photos/dylanbathurst">Flickr</a></li>
      </ul>
    </footer>
  </section>
</body>
</html>
